
@import "'~@voiceofamerica/voa-shared/commonStyles/index";

.languageChooser {
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  z-index: $menu-z-max + 10;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 22px;

    .titles {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      padding-top: 50px;
    }

    .explanation {
      padding: 30px 0;
      font-weight: initial;
    }

    .spacer {
      height: 50px;
    }
  }

  .continueButton {
    @include touchable();
    background: $voa-blue;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 35px;
    text-align: center;

    &.disabled {
      background: $voa-grey;
    }
  }
}
